body{
        width:100%;
}
        @font-face { font-family: Coyote; src: url("Coyote-SemiBoldDEMO.25fe0a1c9e80.25fe0a1c9e80.otf"); } 
        Coyote {
           font-family: Coyote
        }
        @font-face { font-family: JosefinSans-ThinItalic; src: url("JosefinSans-ThinItalic.513a05974e2f.513a05974e2f.ttf"); } 
        #jsti {
           font-family: JosefinSans-ThinItalic
        }
        @font-face { font-family: JosefinSans-LightItalic; src: url("JosefinSans-LightItalic.bea32f0e2077.bea32f0e2077.ttf"); } 
        #jsli {
           font-family: JosefinSans-LightItalic
        }
      
        @font-face { font-family: JosefinSans-Italic; src: url("JosefinSans-Italic.40b679ecc2dc.40b679ecc2dc.ttf"); } 
        #jsi {
           font-family: JosefinSans-Italic
        }
        @font-face { font-family: JosefinSans-Bold; src: url("JosefinSans-Bold.9880fc0845d0.9880fc0845d0.ttf"); } 
        #jsb {
           font-family: JosefinSans-Bold
        }
        .bg { 
          /* The image used */
          background-image: url("lego.3b632ff54d35.3b632ff54d35.jpg");
      
          /* Full height */
          height: 100%; 
      
          /* Center and scale the image nicely */
          background-repeat: no-repeat;
          background-size: cover;

          a:link {
            color: red;
        }
        

        navtext {
          color: #ff8c35;
      }
        /* visited link */
        navtext:visited {
            color: black;
        }
        
        /* mouse over link */
        navtext:hover {
            color: black;
        }
        
        /* selected link */
        navtext:active {
            color: black;
        }

        #m{
                position : relative; 
                height:100%; 
                width:50%;    
        }



        @keyframes fadeIn {
                to {
                  opacity: 1;
                }
              }
              
              .fade-in {
                opacity: 0;
                animation: fadeIn .5s ease-in 1 forwards;
              }
              
              .is-paused {
                animation-play-state: paused;
              }
        
              .navbar.navbar-7 .navbar-toggler-icon {
                background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF8C35');
            }
            
        