<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'profile.css' %}" />
    <link rel = "stylesheet" type = "text/css" href = "{% static 'subscribe.css' %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'function.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="296928355554-jd4qkmovjfioqgjkc2k85co5jvi22tv0.apps.googleusercontent.com">

    <!-- <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script> -->

    <title>terbaek2017</title>
<style>
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
</style>
</head>
<body style="background-color : #f1f1e1" style="margin:0;">

		<script>
		var myVar;

		function myFunction() {
			myVar = setTimeout(showPage, 3000);
		}

		function showPage() {
		  document.getElementById("loader").style.display = "none";
		  document.getElementById("myDiv").style.display = "block";
		}
          function night(){
            document.getElementsByTagName("body")[0].style.backgroundColor="#252523";
            document.getElementById("a").style.color="#ffffff";
            document.getElementById("c").style.color="#ffffff";
            document.getElementById("d").style.color="#ffffff";
          }
        </script>

      <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="{% url 'profile' %}"><img src="{% static 'logo.png' %}" class="d-inline-block align-top" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">

              <a class="nav-item nav-link active" href="{% url 'page2' %}">Photo<span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link active" href="{% url 'registrasi' %}">Registrasi<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="{% url 'newsched' %}">Add Schedule<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="{% url 'sched' %}">View Schedule<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="{% url 'index' %}">Library<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="{% url 'subscribe' %}">Subscribe<span class="sr-only">(current)</span></a>

            </ul>

              <ul class="navbar-nav ml-auto">
                  <a><button id="x" class="btn" onclick="night()">Night Mode</button></a>
              </ul>
          </div>
        </nav>
        {% block content %}{% endblock %}
