{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}

</script>
    <div>
      <span class="input-group-btn">
        <a href="{% url 'logout'%}">
            <button class="btn btn-default" onclick="signOut()">logout</button>
        </a>
        <img src="https://mail.google.com/mail/u/0/?logout&hl=en" />
    </span>
    </div>

    <div class="container animate-bottom" id="allbooks myDiv" onload="myFunction()">

        <h1 class="title font-kayak">Buku Gugel</h1>
        <h3 class="subtitle" style="display:inline;">Jumlah Favorit:</h3>
        <h3 id="favorited" style="display:inline" class="subtitle">0</h3>
        <form method="GET" action="{% url 'index' %}">
        <div class="row" >
            <div class="col-lg-12">
                {% csrf_token %}
                {{ searchform }}
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Search</button>
                </span>
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </form>
        <table class="table">
                <thead>
                    <th></th>
                    <th>Judul</th>
                    <th>Pengarang</th>
                    <th>Tanggal Terbit</th>
                    <th>Favorit</th>
                </thead>
                <tbody id="list-buku-html">
                </tbody>
            </table>
</div>

{% block extrajs %}
    <script type="text/javascript">
      var starafter = "{% static 'starafter.png' %}";
      var starbefore = "{% static 'starbefore.png' %}";
      var story_9_url = "{% url 'index' %}";
      var get_book_url = "{% url 'get_book' %}";
    </script>
    <script type="text/javascript" src="{% static 'function.js' %}"></script>
{% endblock %}

{% endblock %}

</body>
</html>
