{% extends "base.html" %}
{% block content %}

<script src="http://apis.google.com/js/platform.js" async defer></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
<script>
window.onLoadCallback = function(){
  gapi.auth2.init({
      client_id: '296928355554-jd4qkmovjfioqgjkc2k85co5jvi22tv0.apps.googleusercontent.com'
    });
}
</script>
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
   <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
    <a href="{% url 'index'%}">
  <div class="g-signin2" data-onsuccess="onSignIn()" style="height:30;"></div>
  </a>
{% endblock %}
