{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
    <img src="{% static 'profilee.png'%}" style="position:absolute; margin-left:4%; margin-right:54%; width:42%;">
    <div class="text-center js-fade fade-in" style="width:42%; margin-top:5%; margin-left:54%; margin-right:4%">     
        <div class="container" id="btnactivity">
            <section name="form">
                    <h2 style="margin:auto">Add Schedule</h2>
                    <br>
                    <form id="form" method="POST" action="{% url 'schedtable' %}">
                        {% csrf_token %}
                        {{ schedform }}
                        <br>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </section>
                
        </div>
    
    </div>
    
  </body>
  </html>
  {% endblock %}
