{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<div class="animate-bottom">
    <div class="text-center js-fade fade-in" >
        <img src="{% static 'PPW\age.png'%}" style="position : absolute; left:2%; top:75%; width:20%; height:37%">
        <img id="m" src="{% static 'profilee.png'%}" class="rounded" alt="...">

        <!-- onclick="audio.play()" onmouseover="pasya(); changepas()" onmouseout="resetpasya(); reset()" -->
        <div id="pas"  style="position:absolute; width:4%; height:4%; left:50%; top:50%;"></div>

        <div id="2014" style="position:absolute; width:3%; height:10%; left:25%; top:65.5%;" onmouseover="change14();bold14()" onmouseout="reset();resetpasya()"></div>
        <div id="2015" style="position:absolute; width:3%; height:10.5%; left:25.5%; top:45%;" onmouseover="change15();bold15()" onmouseout="reset();resetpasya()"></div>
        <div id="2016" style="position:absolute; width:4%; height:10%; left:28%; top:28%;" onmouseover="change16();bold16()" onmouseout="reset();resetpasya()"></div>
        <div id="2017" style="position:absolute; width:4.5%; height:10%; left:34%; top:14%;" onmouseover="change17();bold17()" onmouseout="reset();resetpasya()"></div>
        <div id="2018" style="position:absolute; width:5.8%; height:7%; left:42%; top:7%;" onmouseover="change18();bold18()" onmouseout="reset();resetpasya()"></div>

        <div class="text-justify js-fade fade-in" id="a" style="position:absolute; left:62%; top:45%; font-family: JosefinSans-Italic; font-size:23px;width:35%; height= 10%">
            Hello! I am
        </div>
        <div class="text-justify js-fade fade-in" id="c" style="position:absolute; left:62%; top:49%; font-family: JosefinSans-Bold; font-size:31px; width:40%; height= 35%">
            <p class = "JosefinSans-Bold">ABRAHAM WILLIAMS</p>
        </div>
        <div class="text-justify js-fade fade-in" id="d" style="position:absolute; left:62%; top:55%; font-family: JosefinSans-LightItalic; font-size:19px;width:35%; height= 10%">
            <p class="JosefinSans-LightItalic">Im a Computer Science Student at University of Indonesia, and im ready
           to make a change.</p>
        </div>

      </div>
      <div id="accordion" style="margin-top:5%; margin-bottom:5%; margin-left:auto; margin-right:auto; width:50%;">
            <h3>Aktivitas</h3>
            <div>
                Belajar<br>
                Bermain<br>
                Tidur<br>

            </div>
            <h3>Pengalaman</h3>
            <div>
                Panitia POR CC (2011-2014)<br>
                Panitia Edufair (2014-2016)<br>
                Panitia Casanova 2017<br>
                Panitia COMPFESTX 2018<br>
          </div>
          <h3>Prestasi</h3>
            <div>
                - belum ada -
          </div>
    </div>

      <div class="footer navbar-fixed-bottom text-center"style="width: auto; height:5%; margin-left:auto; margin-right:auto; bottom:0%;">
        <img src="{% static '\PPW\socmed@0.75x.png'%}" class="rounded" alt="...">
      </div>

</div>

  </body>
  </html>
  {% endblock %}
