<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'profile.css' %}" />

    <title>terbaek2017</title>
  </head>
  <body style="background-color : #f1f1e1">
      <nav class="navbar navbar-expand-lg sticky-top">
          <a class="navbar-brand" href="{% url 'profilechallenge' %}"><img src="{% static 'logo.png' %}"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'story6' %}" style="font-family:JosefinSans-Italic">Form</a>
                  </li>
                </ul>
            </div>
        </nav>
        <div class="text-center js-fade fade-in">
                <img id="m" src="{% static 'profilee.png'%}" class="rounded" alt="...">
        
                <div class="text-justify js-fade fade-in" id="a" style="position:absolute; left:62%; top:45%; font-family: JosefinSans-Italic; font-size:23px;width:35%; height= 10%">
                    Hello! I am
                </div>
                <div class="text-justify js-fade fade-in" id="c" style="position:absolute; left:62%; top:49%; font-family: JosefinSans-Bold; font-size:31px; width:40%; height= 35%">
                    <p class = "JosefinSans-Bold">ABRAHAM WILLIAMS</p>
                </div>
                <div class="text-justify js-fade fade-in" id="d" style="position:absolute; left:62%; top:55%; font-family: JosefinSans-LightItalic; font-size:19px;width:35%; height= 10%">
                    <p class="JosefinSans-LightItalic">Im a Computer Science Student at University of Indonesia, and im ready
                   to make a change.</p>
                </div>
                
              </div>      
          </body>
          </html>