{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
    <img src="{% static 'profilee.png'%}" style="position:absolute; margin-left:4%; margin-right:54%; width:42%;">
    <div class="text-center js-fade fade-in" style="width:42%; margin-top:5%; margin-left:54%; margin-right:4%">     
            <form>
                <div class="form-group">
                        <label id="jsli" for="inputAddress">Name</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Your name here">
                </div>
                <div class="form-row">
                      <div class="form-group col-md-6">
                        <label id="jsli"for="inputUsername4">Username</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                      </div>
                      <div class="form-group col-md-6">
                            <label id="jsli"for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                          </div>
                </div>
                <div class="form-row">
                      <div class="form-group col-md-6">
                        <label id="jsli"for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                      </div>
                      <div class="form-group col-md-6">
                            <label id="jsli"for="inputPassword5">Confirm Password</label>
                            <input type="password" class="form-control" id="inputPassword5" placeholder="Password">
                          </div>
                </div>
                <div class="from-row">
                      <div class="form-group col-md-2">
                        <label id="jsli"for="inputState">Tanggal</label>
                        <select id="inputState" class="form-control">
                          <option selected>DD</option>
                          <option>01</option>
                          <option>02</option>
                          <option>03</option>
                          <option>04</option>
                          <option>05</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label id="jsli"for="inputState1">Bulan</label>
                        <select id="inputState1" class="form-control">
                          <option selected>MM</option>
                          <option>01</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                            <label id="jsli"for="inputState2">Tahun</label>
                            <select id="inputState2" class="form-control">
                              <option selected>YY</option>
                              <option>01</option>
                            </select>
                          </div>
                </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>
        
      </div>
    
  </body>
  </html>
  {% endblock %}
