{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
    <div class="container" id="allschedule">
        <table class="table">
                <thead>
                    <th>Nama Kegiatan</th>
                    <th>Kategori</th>
                    <th>Tempat</th>
                    <th>Tanggal</th>
                </thead>
                <tbody>
                    {% for i in schedule %}
                    <tr>
                        <td> {{ i.namakegiatan }} </td>
                        <td> {{ i.kategori }} </td>
                        <td> {{ i.tempat }} </td>
                        <td> {{ i.tanggal }} </td> </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4">
                            <a  href="{% url 'deleteall' %}" class="btn btn-primary navbar-btn pull-right">Delete Schedule</a>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            
            
    </div>
    
    
  </body>
  </html>
  {% endblock %}