<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'profile.css' %}" />

    <title>terbaek2017</title>
  </head>
  <body style="background-color : #f1f1e1">
      <nav class="navbar navbar-expand-lg sticky-top">
          <a class="navbar-brand" href="{% url 'profilechallenge' %}"><img src="{% static 'logo.png' %}"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'story6' %}" style="font-family:JosefinSans-Italic">Form</a>
                  </li>
                </ul>
            </div>
        </nav>
        <p style="font-size:50px;">Hello apa kabar?</p>
            <div class="container" id="btnactivity" name="Status">
                <section name="form">
                    <form id="form" method="POST" action="{% url 'story6' %}">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <button type="submit" name="submit" class="btn btn-default">Submit</button>
                    </form>
                </section>          
            </div>

            <div name="liststatus" style = "font-size:30px;">
                {% for a in data%}	
            <div class="row">
                <h2 class="col-6">{{a.Status}}</h2>
                <h2 class="col-6">{{a.dateTime}}</h2>	
            </div>	
                    {% endfor %}
            </div>

    </body>
          </html>