{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
    <div class="container" id="allschedule">
        <table class="table">
                <thead>
                    <th>Nama</th>
                    <th>Email</th>
                </thead>
                <tbody>
                    {% for i in subscriber %}
                    <tr>
                        <td> {{ i.nama }} </td>
                        <td> {{ i.email }} </td>
                        <td>
                            <a  href="{% url 'unsubscribe' %}" class="btn btn-primary navbar-btn pull-right">unsubscribe/a>    
                        </td>
                    {% endfor %}
                </tbody>
            </table>


    </div>


  </body>
  </html>
  {% endblock %}
